Podfile.lock
Manifest.lock
project.pbxproj
Pods-ShouldIEatThis?.xcscheme
SwiftyJSON.xcscheme
xcschememanagement.plist
LICENSE
README.md
SwiftyJSON.swift
Info.plist
Pods-ShouldIEatThis?-acknowledgements.markdown
Pods-ShouldIEatThis?-acknowledgements.plist
Pods-ShouldIEatThis?-dummy.m
Pods-ShouldIEatThis?-frameworks.sh
Pods-ShouldIEatThis?-resources.sh
Pods-ShouldIEatThis?-umbrella.h
Pods-ShouldIEatThis?.debug.xcconfig
Pods-ShouldIEatThis?.modulemap
Pods-ShouldIEatThis?.release.xcconfig
SwiftyJSON-dummy.m
SwiftyJSON-prefix.pch
SwiftyJSON-umbrella.h
SwiftyJSON.modulemap
SwiftyJSON.xcconfig
IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
contents.xcworkspacedata
keys.plist
